<h1>Shops#show</h1>
<p>Find me in app/views/shops/show.html.erb</p>
<% if current_user %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @products.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @products.price %>
</p>

<%= link_to 'Back', root_path, class: "btn btn-primary" %>

<%end%>

